# คัดลอกไฟล์นี้เป็น .env แล้วใส่ token จริงที่อาจารย์แจก
# .env ถูก gitignore ไว้แล้ว ห้าม commit ขึ้น repo เพราะ repo นี้เป็น public
INFLUX_TOKEN=
INFLUX_URL=http://172.16.2.117:8086
INFLUX_ORG=my-org
INFLUX_BUCKET=mini_project

STUDENT_ID=6620301002
KAFKA_BOOTSTRAP_SERVERS=172.16.2.117:9092
KAFKA_INPUT_TOPIC=traffic-events-6620301002
KAFKA_GROUP_ID=traffic-ml-predictor-6620301002

SOURCE_MEASUREMENT=traffic_6620301002
PREDICTION_MEASUREMENT=traffic_prediction_6620301002
TRAIN_RANGE=-30d
MODEL_PATH=model.joblib
